.basket-mini{
    background-color:#EDF0F4;
}
.basket-mini .basket-mini__title{
    text-transform:uppercase;
    font-weight:600;
    font-family: 'BebasNeue';
    font-size: 1.4rem;
}
.basket-mini .basket-mini__counter{
    font-size: .9rem;
    line-height: 1.2rem;
}
.basket-mini hr{
    border-color:#28C6F1;
}
.basket-mini .footer{
    font-size: 0.8rem;
}
@media screen and (max-width:960px){
    .basket-mini .basket-mini__title{
        font-size: 1.2rem;
    }
    .basket-mini hr{
        display:none;
    }
}